/.phpunit.cache
/.phpunit.result.cache
/.composer-home
/.laravel-scaffold
/.fleet
/.idea
/.vscode
/.zed
/.env
/.env.backup
/.env.production
/auth.json
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/employment_uploads/*
!/storage/employment_uploads/.htaccess
/docs
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
Thumbs.db
.user.ini
.user.ini.bak
hawatt-fishery-hub
